<% if current_user.blank? %>
  <div class="login">
    <div class="login-container">
      <img src="https://res.cloudinary.com/devleg/image/upload/v1538468776/white_logo_transparent_background.png" alt="logo" class="logo">
      <h1>Welcome! Please Sign In:</h1>
      <%= button_to 'Sign In with Github', '/auth/github', {class: 'login-button'} %>
    </div>
  </div>
<% else %>
  <p>
    You are signed in as <%= current_user.username %>.  Click the button below to sign out.
  </p>

  <%= button_to "Sign Out", signout_path, method: :delete %>

  <script type="text/javascript">
    window.token = '<%= current_user.oauth_token %>'
  </script>
<% end %>

<main id="root"></main>
