<!DOCTYPE html>
<html>
  <head>
    <title>My Galaxy - GitHub Stars Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'index' %>
    <link rel="icon" type="image/gif/png" href="https://res.cloudinary.com/devleg/image/upload/v1538256389/IMG_6765.jpg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
